<div style="border: 3px solid black; border-inline-style: solid; padding-right:5px" id="<%= dom_id booking %>">
  <p>
    <strong>First name:</strong>
    <%= booking.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= booking.last_name %>
  </p>

  <p>
    <strong>Animal name:</strong>
    <%= booking.animal_name %>
  </p>

  <p>
    <strong>Animal type:</strong>
    <%= booking.animal_type %>
  </p>

  <p>
    <strong>Hours requested:</strong>
    <%= booking.hours_requested %>
  </p>

  <p>
    <strong>Date of service:</strong>
    <%= booking.date_of_service %>
  </p>

  <p>
    <strong>Price: $</strong>
    <%= booking.pricing %>
  </p>

</div>
